<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>

    <div class="card-body">

        <div class="card-title">
            <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Filter..." aria-label="Search" aria-describedby="basic-addon2" name="filterValue" [(ngModel)]="filterValue">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="applyFilter()">
                    <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
                </div>
            </form>
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
                <div class="input-group">
                    <label for="pageSize" class="form-control bg-light border-0">Show </label>
                    <select name="pageSize" id="pageSize" class="form-control bg-light border-0 small" [(ngModel)]="pageSize" (change)="loadData(0,pageSize);currentPage=1">
                        <option *ngFor="let size of pageSizeOptions" value="{{size}}">{{size}}</option>
                    </select>
                </div>
            </form>
            <button class="btn btn-primary mx-2"><i class="fa fa-plus"></i> Agregar Usuario</button>
        </div>

        <div class="d-none d-sm-block">
            <table mat-table [dataSource]="dataSource" matSort class="w-100 table">
                <div *ngFor="let col of tableColumns">
                    <ng-container matColumnDef="{{col.id}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-2"> {{col.title}} </th>
                        <td mat-cell *matCellDef="let element" class="p-2">
                            <span *ngIf="col.key!='options'">{{ element[col.key] }}</span>
                            <span *ngIf="col.key=='options'">
                                <button class="btn btn-danger btn-circle btn-sm m-1" (click)="delete(element.id)"><i class="fa fa-trash"></i></button>
                                <button class="btn btn-primary btn-circle btn-sm m-1" (click)="edit(element.id)"><i class="fa fa-edit"></i></button>
                            </span>
                        </td>
                    </ng-container>
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search float-right">
            <div class="input-group">
                <label for="pageSize" class="form-control bg-light border-0">Show </label>
                <select name="pageSize" id="pageSize" class="form-control bg-light border-0 small" [(ngModel)]="pageSize" (change)="loadData(0,pageSize);currentPage=1">
                    <option *ngFor="let size of pageSizeOptions" value="{{size}}">{{size}}</option>
                </select>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="cursor: pointer;">
                        <li class="page-item"><a class="page-link" (click)="paginationPrev()">Previous</a></li>
                        <li class="page-item btn btn-circle" *ngFor="let page of pages" [ngClass]="(currentPage == page) ? 'active' : ''"><a class="page-link" (click)="pagination(page)">{{page}}</a></li>
                        <li class="page-item"><a class="page-link" (click)="paginationNext()">Next</a></li>
                    </ul>
                </nav>
            </div>
        </form>
    </div>

</div>